<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
        <title>Balines Mojados</title>
        <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
        <link rel="stylesheet" href="<%= getFile('user/css/mp-back.css') %>">
        <link rel="icon" href="img/icon.png">
    </head>

    <body>
        <div class="wrapper">
            <div id="status" class="status">
                <span class="checkmark"></span>
                <span class="xmark"></span>
                <span class="xmark2"></span>
            </div>
            <div class="text">
                <h4 id="title">Title</h4>
                <p id="description">Description</p>
            </div>
            <div class="button">
                <button id="backButton">Inicio</button>
            </div>
        </div>
        <script src="<%= getFile('user/js/mp-back.js') %>"></script>
    </body>
</html>