<div id="login" class="login">
    <form action="login" method="post">
        <div class="bg2"></div>
        <div class="signFrame">
            <a href="/" class="closeBtn">X</a>
            <div class="title">
                <h1>LOGIN</h1>
            </div>
            <div class="inputs">
                <div class="element">
                    <h4>Usuario</h4>
                    <input type="text" name="username">
                </div>
                <div class="element">
                    <h4>Contraseña</h4>
                    <input type="password" name="password">
                </div>
                <button class="signBtn">SIGN UP</button>
                <span>¿No tienes una cuenta? <a href="/register">Registrarse</a></span>
            </div>
        </div>
    </form>
</div>
<script src="<%= getFile('js/login.js') %>"></script>