<div id="signOut" class="register">
    <form action="/register" method="post">
        <div class="bg2"></div>
        <div class="signFrame">
            <a href="/" class="closeBtn">X</a>
            <div class="title">
                <h1>REGISTER</h1>
            </div>
            <div class="inputs">
                <div class="element">
                    <h4>Correo Electrónico</h4>
                    <input type="mail" name="mail">
                </div>
                <div class="element">
                    <h4>Usuario</h4>
                    <input type="text" name="username">
                </div>
                <div class="element">
                    <h4>Contraseña</h4>
                    <input type="password" name="password">
                </div>
                <button class="signBtn">SIGN UP</button>
                <span>¿Tienes una cuenta? <a href="/login">Inicia sesión</a></span>
            </div>
        </div>
    </form>
</div>