<div class="head-title">
    <div class="left">
        <h1>Reservas</h1>
        <ul class="breadcrumb">
            <li>
                <a class="active" href="/admin">Panel</a>
            </li>
            <li><i class='bx bx-chevron-right' ></i></li>
            <li>
                <a href="#">Reservas</a>
            </li>
        </ul>
    </div>
</div>

<div class="table-data">
    <div class="order">
        <div class="head">
            <h3>Todas las reservas</h3>
        </div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody id="reserves">
                <!-- <tr>
                    <td>
                        <p>John Doe</p>
                    </td>
                    <td>01-10-2021</td>
                    <td><span class="status completed">Completed</span> <button><i class='bx bx-edit' ></i></button></td>
                </tr> -->
            </tbody>
        </table>
    </div>
</div>

<script>
    let reserves = JSON.parse('<%- JSON.stringify(reserves) %>');
</script>
<script src="<%- getFile('admin/js/reserves.js') %>"></script>