

.secondSection {
    margin-left: 5%;
}

.form {
    display: flex;
    margin: 0 auto;
    max-width: 80%;
    justify-content: center;
}

.secondSection .middle {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 18px;
}


.secondSection .middle button {
    background-image: linear-gradient(90deg, rgba(120,79,230,1) 0%, rgba(103,52,214,1) 100%);
    text-decoration: none;
    color: white;
    width: 100%;
    padding: 15px 35px;
    border-radius: 5px;
    position: absolute;
    margin-top: -2%;
    font-weight: bold;
    position: relative;
    border: none;
    cursor: pointer;
    margin-top: 5%;
    margin-bottom: 10%;
}

.secondSection .left .reserve {
    padding: 10%;
    margin-left: -25%;
}

.secondSection .left .reserve .input {
    margin-bottom: 11%;
}

.secondSection .left .reserve .input h5 {
    font-size: 20px;
    font-weight: 200;
}

.secondSection .left .reserve input {
    background: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5%;
    width: 90%;
    margin-top: 5px;
    color: white;
}

.secondSection .left .reserve h1 {
    text-align: center;
    margin-bottom: 10%;
}

.times, .reserve, .packInfo {
    background: #2D2839;
    border: 1px solid #b9a0ff;
    width: 410px;
    border-radius: 15px;
    margin-right: 5%;
    margin-top: 5%;
    top: 10%;
    z-index: 50;
    color: white;
    padding: 20px;
}

.times, .reserve, .packInfo p {
    color: var(--text-purple-desc);
}

.secondSection .right .times span {
    color: var(--text-purple-desc);
    display: block;
}

.secondSection .canchas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 8%;
}

.secondSection .canchas img {
    border-radius: 15px;
    width: 350px;
    height: 200px;
    margin-bottom: 5%;
}

.secondSection .canchas .cancha {
    color: white;
    margin: 0 25px;
    width: 350px;
    height: 200px;
    text-align: center;
}

.secondSection .canchas .cancha span {
    font-weight: 600;
    display: block;
}

.secondSection .selected {
    border: 1px solid white;
    border-radius: 15px;
}
