<header>
    <div class="title">
        <h1>BALINES MOJADOS</h1>
    </div>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/#info">Planes</a></li>

        <li><a href="/#contacto">Contacto</a></li>
    </ul>
    <a class="button" id="signBtn" href="/login">Iniciar Sesión</a>
</header>

<script>
    let user = JSON.parse('<%= getUser() %>');
    console.log(user)
    let buttonHeader = document.getElementById("buttonHeader");
    
    if (window.location.href.indexOf("register") > -1) {
        buttonHeader.href = "/login"
        buttonHeader.textContent = "Login"
    }
</script>