<header>
    <div class="title">
        <h1>BALINES MOJADOS</h1>
    </div>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/#info">Planes</a></li>

        <li><a href="/#contacto">Contacto</a></li>
    </ul>
    <a class="button" id="signBtn" href="/login">Iniciar Sesión</a>
</header>

<script>
    let user = JSON.parse('<%- getUser() %>');
    let buttonHeader = document.getElementById("signBtn");

    if (user)
    {
        if (user.group == 'admin')
        {
            buttonHeader.textContent = 'Panel';
            buttonHeader.href = '/admin/';
        }
        else
        {
            buttonHeader.textContent = 'Cerrar sesión';
            buttonHeader.href = '/api/logout';
        }
    }
</script>